$mainBackgroundColor: #191919;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $mainBackgroundColor;
}
.wrapper_bar{
  width: 100%;
  background-color: black;
  .bar {
    width: 70%;
    margin: auto;
    height: 50px;
    img {
      height: 30px;
      margin: 10px 30px;
    }
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}
.dischi_container {
  width: 280px;
  height: 400px;
  text-align: center;
  background-color: black;
  margin: 30px;
  img {
    height: 250px;
    padding-top: 30px;
  }
  h2, h4, h5 {
    color: white;
    line-height: 30px;
  }
}
